#background {
    height: 725px;
    background-color: #6C84B4;
}

body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}
main section {
    text-align: center;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    

.icon {
    width: 80px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    

footer p {
    font-size: 1.2em;
}    
        
 
footer p a:hover {
    text-decoration: underline;
}                     

p {
    margin: 35px;
  }

  div.a {
    text-align: center;
  }
  
  div.b {
    text-align: left;
  }
  
  div.c {
    text-align: right;
  }
  
  div.c {
    text-align: justify;
  }

.msg {
    background-color:#DECBB7;
}

footer {
    background-color:#DECBB7;
}
a{
    text-decoration: none;
}

#content {
    max-width: 1600px;
}
#hero-msg{
    text-align: center;
}
#hero-box, #hero-img{
    width: 100%;
}
.logo, .icon{
    width:80px
}
