@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italianno&family=Rubik+Mono+One&family=Zeyada&display=swap');
body{
    letter-spacing: 2px;
    font-family:  Zedya, Helvetica, sans-serif;
    margin: 0;
}
h1{
    font-family:  "Rubik+Mono+One", Helvetica, sans-serif;

}

h2, h3, h4, h5, h6 {

    letter-spacing:5px;
    font-family: "Great Vibes", Helvetica , sans-serif ;
}
a {
    text-decoration:none;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
}

#hero-box {
    width: 100%;
    height: 550px; /* Establecer la altura deseada */
    overflow: hidden;
    z-index: -1;
    grid-column: 1/4;
    grid-row: 1/4;
}

#hero-box video {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para evitar que el video se deforme */
}

#main-hero-msg{
    z-index: 1;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 50px;
}
#hero-msg{
    background-color: #6895AC;
    text-align: center; 
    padding: 30px 0px;
    font-size: 40px;
    margin-bottom: 100px;
}
.logo{
    width: 85.5px;
    height: 100%;
}
.home-grid{
    width:100%;
    display:grid;
    align-content: center;
    justify-content: center;  
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 100px 0px;
}
.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row:1/3;
    grid-column:1/2;
}
.card1 a, .card2 a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row:1/3;
    grid-column:2/3;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
       
nav a:hover {
    background-color:#6895AC;
}
footer{
    background-color: #6895AC;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer { 
    padding: 25px 50px;
}
footer .social img {
    padding-top: 15px;
}
nav a {
    text-decoration: none;
    text-align: center;
    padding: 35px;
    color: black;
    text-shadow: 2px 2p white;
}

/* page 1 */

.page1-grid{
    justify-items: center;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    align-content: center;
    gap: 1em;
    padding: 0px 200px;
    margin-bottom: 150px;
}
.image1{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 400px;
   
}
.image2{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 400px;
}
.image3{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 400px;
}
#text1{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: center; 
    width: 400px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
#text2{
    display:flex;
    grid-column: 1/2;
    grid-row: 2/3;
    align-items: center; 
    flex-direction: column;
    justify-content: center;
    text-align:center;
    width: 400px; 
}
#text3 {
    display:flex;
    grid-column: 2/3;
    grid-row: 3/4;
    align-items: center; 
    width: 400px;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

.image1 {
    content: url('../images/rring1.png');
    background-size: cover;
    transition: all 0.5s ease; /* Apply a smooth transition */
}

.image2 {
    content: url('../images/ring3.png');
    background-size: cover;
    transition: all 0.5s ease; /* Apply a smooth transition */
}

.image3 {
    content: url('../images/ring5.png');
    background-size: cover;
    transition: all 0.5s ease; /* Apply a smooth transition */
}

/* On hover, change the background image */
.image1:hover {
    content: url('../images/ring2.png');
}

.image2:hover {
    content: url('../images/ring4.png');
}

.image3:hover {
    content: url('../images/ring6.png');
}

.page2-flex {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    padding: 0px 100px;
    text-align: center;
}
.page2-flex p  {
    padding-bottom: 200px;
}


form {
    /* Center the form on the page */
    margin: 200px auto 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin-bottom: 150px
  }
  .form{
    text-align:center;
    
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }